<h2>Update Account</h2>
<form id='update_account_form'>
    <div class="form-group">
        <label for="firstname">Firstname</label>
        <input type="text" class="form-control" [(ngModel)]="firstname" id="firstname" required
            value="` + result.data.firstname + `" />
    </div>

    <div class="form-group">
        <label for="lastname">Lastname</label>
        <input type="text" class="form-control" [(ngModel)]="lastname" id="lastname" required
            value="` + result.data.lastname + `" />
    </div>

    <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" [(ngModel)]="email" id="email" required value="` + result.data.email + `" />
    </div>

    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" [(ngModel)]="password" id="password" />
    </div>

    <button type='submit' class='btn btn-primary'>
        Save Changes
    </button>
</form>